{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}




<h1>Quizz's {{quizz.pro}}</h1>
<div class="question">
{{question}}
<form method="post" action="{{path('app_do_quizz', {id:quizz.id})}}">
{% for reponse in question.reponses %}
<input type="submit" name="{{reponse.id}}" value="{{reponse}}">
{% endfor %}

</form>
</div>


{% endblock %}
