{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}


<h1>The {{quizz.pro}}'s quiz</h1>
<div class="question">
{{question}}
<form method="post" action="{{path('app_do_quizz', {id:quizz.id})}}">
{% for reponse in question.reponses %}
    <div class="reponse">

        <input type="submit" name="{{reponse.id}}" value="{{reponse}}" maxlength="5" size="4">

    </div>
{% endfor %}

</form>
</div>


{% endblock %}
